<section class="presentation">
  <h1 class="headTitle">TopTierMe</h1>
  <div class="pictureContainer">
    <img
      src="assets/homepage/shelve-component.png"
      alt="TopTierMe app, your very personalized tier list"
    />
  </div>

  <p class="howTo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eos
    veritatis sequi deserunt consequuntur voluptatem, alias error eveniet
    molestiae dolor voluptatibus libero, placeat architecto asperiores fugit,
    accusantium repudiandae harum nisi! Commodi atque veritatis, officia natus
    omnis nostrum placeat ullam temporibus eveniet dolore nam numquam quam
    tenetur corrupti sunt sapiente optio molestias iusto modi, corporis cumque a
    aperiam.
  </p>
  <a class="ctaPlay" routerLink="/tier-list">Start Playing</a>
</section>
