@use "../../../imports" as *;

$garbageButtonWidth: 1rem;
$rawButtonWidth: 45px;

.headSection {
  margin-bottom: 2rem;
}

.shelveSection {
  border-bottom: 2px solid $tertiaryColor;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .shelveContainer {
    border-radius: 4px;
    width: 100%;
    .shelve {
      width: 100%;
    }
  }
  .addRaw {
    width: 30px;
    height: 30px;
    margin: 1.5rem 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.stuffSelectedSection {
  border-bottom: 2px solid $tertiaryColor;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
  .stuffContainer {
    position: relative;
    min-width: 150px;
    .garbageButton {
      position: absolute;
      width: $garbageButtonWidth;
      height: $garbageButtonWidth;
      left: calc(0px - $garbageButtonWidth - 0.5rem);
      top: -3px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .stuffTitle {
      font-size: $subTitle;
      text-align: center;
    }
    .pictureContainer {
      width: $selectedStuffWidth;
      height: $selectedStuffWidth;
      margin: 0.5rem auto 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .rawsContainer {
    .buttonsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      .buttonList {
        width: $rawButtonWidth;
        height: $rawButtonWidth;
        border-radius: 2px;
        .rawButton {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.librarySection {
  .libraryTitle {
    margin: 1rem 0;
  }
  .libraryContainer {
    .library {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .stuff {
        width: $stuffWidth;
        height: $stuffWidth;
        .stuffButton {
          width: 100%;
          height: 100%;
          .pictureContainer {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .placeholderContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &::before {
              content: "";
              background-image: url("../../../assets/tierlist/placeholder-stuff-pic.png");
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              opacity: 0.2;
              z-index: -1;
            }
            .stuffTitle {
              font-size: $subTitle;
              color: $darkColor;
              text-align: center;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tabletMinWidth) {
  .section {
    @include sectionBehavior;
  }
}
