<section class="section headSection">
  <h1 class="title">{{ title }}</h1>
</section>

<section class="section shelveSection">
  <div class="shelveContainer">
    <ul class="shelve">
      <li class="raw">
        <div class="labelContainer">
          <h2 class="title">S</h2>
          <button class="options" type="button">
            <img src="assets/icon/options.svg" alt="editer la ligne" />
          </button>
        </div>
        <div class="itemsContainer">
          <ul class="items"></ul>
        </div>
      </li>
    </ul>
  </div>
</section>
