@use "../../../../imports" as *;

.globalFooter {
  width: 100%;
  padding: $globalPadding;
  position: fixed;
  bottom: 0;
  left: 0;
  .footerNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $globalMaxWidth;
    margin: 0 auto;
    gap: 1rem;
    .listContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      color: $grayColor;
      font-size: $link;
    }
  }
}
