@use "../../../imports" as *;

.raw {
  height: calc($rawHeight - $rawBorderHeight);
  border-bottom: $rawBorderHeight solid $rawColor1;
  .labelContainer {
    width: $rawHeight;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $rawColor1;
    .title {
      font-size: $mediumTitle;
      color: $lightColor;
    }
    .options {
      position: absolute;
      bottom: 4px;
      right: 4px;
      width: $optionsSize;
      height: $optionsSize;
      img {
        display: block;
        width: 100%;
      }
      svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $lightColor;
        path {
          fill: $lightColor;
          opacity: 0.56;
          transition: fill 0.3s;
        }
      }
      &.selected {
        svg {
          path {
            @include optionButtonBehavior;
          }
        }
      }
    }
  }
}

@media (hover: hover) {
  .raw {
    .labelContainer {
      .options:hover {
        svg {
          path {
            @include optionButtonBehavior;
          }
        }
      }
    }
  }
}
